<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- defaultPushSource key works like the 'defaultPushSource' key of NuGet.Config files. -->
  <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org. -->
  <config>
    <add key="defaultPushSource" value="http://nexus.farabixo.tech/repository/nuget-group/" />
  </config>

  <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
  <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
  <packageSources>
    <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> -->
    <add key="Nuget Hosted" value="http://nexus.farabixo.tech/repository/nuget-group/" />
  </packageSources>
</configuration>